site_name: {{ project_name }}
theme:
  name: material
repo_url: https://gitlab.com/example/{{ project_slug }}
copyright: Copyright &copy; 2024 The Python Sandbox Project

nav:
  - Home: index.md
  - User Guide: user-guide/README.md
  - Developer Guide: developer-guide/README.md
