[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "{{ project_slug }}"
dynamic = ["version"]
description = "{{ project_description }}"
readme = "README.md"
requires-python = ">=3.8, <3.13"
authors = [
    { name = "{{ project_name }}", email = "{{ author_email | default('contact@example.com') }}" }
]
dependencies = [
    "pydantic[email]",
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-cov",
    "pytest-mock",
    "ruff",
    "mypy",
    "pre-commit",
    "mkdocs",
    "mkdocs-material",
]

[tool.ruff]
line-length = 88

[tool.ruff.lint]
select = ["E", "F", "W", "I", "UP", "B", "C4"]
ignore = ["E501"]

[tool.mypy]
strict = true
ignore_missing_imports = true
warn_return_any = true
warn_unused_configs = true
plugins = ["pydantic.mypy"]
disable_error_code = ["misc"]

[[tool.mypy.overrides]]
module = "tests.*"
ignore_missing_imports = true

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"
testpaths = [
    "tests/unit",
    "tests/integration",
]
pythonpath = ["src"]

[tool.hatch.version]
source = "vcs"

[tool.hatch.version.raw-options]
search_parent_directories = true

[tool.hatch.build.targets.wheel]
packages = ["src/{{ module_name }}"]
